<h1>About</h1>
<p>
Hey you, welcome to Exquisite Corps!</p>
<p>
We are under extreme development... so if this site works, its not our fault!	
</p>
<p>
How to play:<br>
This game is like a game of telephone but instead of whispering and spreading germs...<br><br>one person posts some text<br>and the next person posts a picture interpreting that text<br>and then the next person interprets that picture and posts a caption<br>and the next posts a picture<br>and the next posts text<br>and the next posts a picture until its gone on for a while. 
</p>
<p>
If it sounds complicated, don't freak out! Just click 'play' and you will either be given text or a picture to respond to. After that you will be shown the chain that led up to it. Cheers! 
</p>
<p>
Bolasol!
</p>